.view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    min-height: 50vh;
    padding: 20px;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .view-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    gap: 10px;
  
    position: relative;
    width: 250px;
  
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
  }
  
  .item-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
  }
  
  .item-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  
  .item-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
  }
  