.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background: white;
  }
  
  .navlinks {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }